{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <h1>О нас</h1>
    <p>Мы команда - узбеки строители!<br>
        Мы не боимся никаких трудностей, даже если нужно построить дом на вершине горы или на дне океана.<br>
        Мы знаем, как работать быстро и качественно, и никогда не забываем про перерыв на чай и плов.<br>
        Наша любимая игра - "кто быстрее поставит кирпич", а наша мечта - построить самый высокий дом в мире,<br>
        чтобы все смотрели на нас с завистью и восхищением.<br>
        Мы - узбеки строители, и мы готовы к любым вызовам!</p>
{% endblock %}