{% extends 'base1.html' %}

{% block content %}
  <h1>File with name "{{ name }}" already exists</h1>
  <p>Do you want to overwrite it with the new file "{{ file.name }}"?</p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="name" value="{{ name }}">
    <input type="hidden" name="file" value="{{ file }}">
    <button type="submit" name="action" value="overwrite">Overwrite</button>
    <button type="submit" name="action" value="cancel">Cancel</button>
  </form>
{% endblock %}